
<!--<div class="category01">
  <div class="card-title">
    <div class="salud">{{ currentCantegory?.category?.name || '' }}</div>
  </div>
  <div class="selection-group" >
    <div *ngFor="let group of proposalsGrouped; let i = index" class="selection-group-superior">
      <div *ngFor="let proposal of group" class="salud1">
        <div class="category-item" (click)="selectProposal(proposal)">
          <div class="propuesta-de-mejorar">{{proposal.description}}</div>
          <img class="prsc-icon" alt="" src="../../../../assets/prsc.svg">
        </div>
      </div>
    </div>    
  </div>  
  <div class="card-nav">
    <div class="cancelar-btn" (click)="exit()" >
      <div class="close-option">
          <img class="prsc-icon" alt="" src="../../../../assets/close.svg">
          
      </div>
      <div class="cancelar">Cancelar</div>
  </div>
      <div class="categora">
          <div class="cancelar">Categoría {{this.item}} de {{this.totalCategories}}</div>
      </div>
      <div class="siguiente-btn" (click)="onNextClick()">
          <div class="cancelar">Siguiente</div>
          <div class="right-arrow">
              <img class="prsc-icon" alt="" src="../../../../assets/arrow-right.svg">
              
          </div>
      </div>
  </div>
</div>-->

       <!-- Nueva Sección de categoría de votación 2 -->
       <section class="new-voting-card-section">
        <div class="new-voting-card-container">
            <div class="new-voting-card">

                <!-- Categoría 1 -->
                <div class="category-slide active">
                    <h3 class="new-category-title">{{ currentCantegory?.category?.name || '' }}</h3>
                    <div *ngFor="let group of proposalsGrouped; let i = index" class="new-options-grid">
                      <div *ngFor="let proposal of group" >
                        <div id="{{proposal.id}}" class="new-option" data-category="1"(click)="selectProposal(proposal)" >
                          {{proposal.description}}
                          <span class="heart">❤️</span>
                      </div>
                      </div>
                    </div>
                    <div class="new-actions">
                        
                        <p class="new-category-info">Categoría {{this.item}} de {{this.totalCategories}}</p>
                        <button class="new-next-btn" (click)="onNextClick()">Siguiente ➔</button>
                    </div>
                </div>



                <!-- Agregar más categorías aquí... -->
            </div>
        </div>
    </section>
