   <!-- Sección del simulacro -->
   <section class="simulacro-section mb-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="simulacro-intro">
                    En este simulacro, tendrás la oportunidad de votar por la propuesta que mejor se alinea con tu visión para el futuro de Puerto Rico en temas como Salud, Seguridad Pública, Desarrollo Económico, Anticorrupción, Energía, Educación y Justicia Social, sin saber a qué candidato pertenece cada propuesta.
                </p>
                <p class="simulacro-intro">
                    Al finalizar, te mostraremos cuántas propuestas seleccionaste de cada candidato, y tu voto se sumará al candidato con el mayor número de propuestas elegidas.
                </p>
            </div>
        </div>
        <div class="row steps text-center">
            <div class="col-lg-4 col-md-12 mb-4">
                <div class="step-box">
                    <div class="step-number">Paso 1</div>
                    <hr class="step-divider">
                    <h5>Elige las propuestas que mejor resuenen contigo</h5>
                    <p>Las propuestas de los candidatos están organizadas en orden aleatorio, selecciona 1 por categoría.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 mb-4">
                <div class="step-box">
                    <div class="step-number">Paso 2</div>
                    <hr class="step-divider">
                    <h5>Afinidad de selección con candidatos</h5>
                    <p>La plataforma te dará un resultado en porcentaje basado en las opciones que has seleccionado.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 mb-4">
              <div class="step-box">
                  <div class="step-number">Paso 3</div>
                  <hr class="step-divider">
                  <h5>Reflexiona y comparte en tus redes sociales</h5>
                  <p>Es momento de reflexionar, si las propuestas que elegiste son lo que mejor conviene a nuestra isla.</p>
              </div>
          </div>
        </div>

    </div>
</section>
