/* Custom font */
body {
    font-family: 'Lufga', sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

h1, h2 {
    font-weight: bold;
    color: #333;
}

.lead {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #28a745;
    color: #fff;
}

.container2{
    max-width: 1140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Barra superior */
header {
    height: auto; /* Ajustamos la altura de manera automática */
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 10px 15px; /* Aumentamos el padding */
}

header .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap; /* Evitamos el wrap aquí para mantener los elementos alineados */
    width: 100%; /* Nos aseguramos de que ocupe todo el ancho */
}

header .navbar-brand {
    font-size: 1rem;
    white-space: nowrap; /* Evita el desbordamiento del texto */
}

header .d-flex {
    flex-wrap: nowrap; /* Evitamos que los elementos se apilen uno sobre otro */
    gap: 10px; /* Añadimos espacio entre los elementos */
    flex-shrink: 0;
}

header .me-3 {
    font-size: 0.9rem;
    white-space: nowrap;
}

header .btn {
    white-space: nowrap;
    font-size: 0.9rem;
}

/* Para pantallas pequeñas */
@media (max-width: 576px) {
    header .container {
        flex-direction: row; /* Alineamos los elementos en fila */
        justify-content: space-between; /* Distribuimos los elementos equitativamente */
        align-items: center;
    }

    header .navbar-brand {
        font-size: 0.9rem;
    }

    header .me-3 {
        font-size: 0.9rem;
    }

    header .btn {
        font-size: 0.8rem;
        padding: 5px 10px;
        margin-left: 10px; /* Ajustamos el margen para el botón */
    }

    header .d-flex {
        gap: 5px; /* Reducimos el espacio entre los elementos */
    }
}




/* ----------------------Estilos para el preloader------------------------------------------------------------------------------------ */
#preloder {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f8f9fa;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preloader-content {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.preloader-content h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 10px;
}

.preloader-content p {
    font-size: 1.2rem;
    color: #666;
    letter-spacing: 0.1rem;
}

/* Responsive para dispositivos móviles */
@media (max-width: 768px) {
    .preloader-content h1 {
        font-size: 2rem;
    }
    
    .preloader-content p {
        font-size: 1rem;
    }
}


/* ----------------------Estilos para el preloader------------------------------------------------------------------------------------ */