    <app-nav [electionInfo]="electionInfo"></app-nav>

    <app-candidate-result></app-candidate-result>

    <app-steps></app-steps>

      
      <!-- Sección de voto -->
      <div *ngIf="showVote" id="vote-section">
        <app-vote-by-categories-list 
          [actualUserVote]="actualUserVote" 
          (resultEvent)="handleResult($event)">
        </app-vote-by-categories-list>
      </div>
      
      <!-- Sección de resultados -->
      <div *ngIf="showResult">
        <app-vote-results 
          [actualUserVote]="actualUserVote" 
          [generatedResults]="results" 
          (repeatEvent)="handledRepeat($event)">
        </app-vote-results>
      </div>
      
      <!-- Footer -->
      <div id="footer-section">
        <footer class="footer-section">
          <div class="container">
            <p class="footer-text">Este sitio está hecho con Amor. Derechos reservados 2024</p>
            <div class="footer-links">
              <a href="#" class="footer-link">PRsinColores</a>
              <img src="./assets/img/banderapr.png" alt="Logo" class="footer-logo">
              <a href="#" class="footer-link">Acerca de</a>
            </div>
          </div>
        </footer>
      </div>
      