
<app-candidate-result></app-candidate-result>

<app-steps></app-steps>

<section class="simulacro-section mb-5">
    <div class="container">
        <!-- Agregar el botón -->
        <div class="row text-center mt-4">
            <div class="col-12">
                <button class="btn btn-votar" (click)="voteNow()">VOTAR AHORA</button>
            </div>
        </div>
    </div>
 </section>
<!-- Footer -->
<footer class="footer-section">
<div class="container">
<p class="footer-text">Este sitio está hecho con Amor. Derechos reservados 2024</p>
<div class="footer-links">
    <a href="#" class="footer-link">PRsinColores</a>
    <img src="./assets/img/banderapr.png" alt="Logo" class="footer-logo">
    <a href="#" class="footer-link">Acerca de</a>
</div>
</div>
</footer>