
/* Estilos para el Footer */
.footer-section {
    background-color: #f9f9f9;
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #e0e0e0;
}

.footer-text {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 15px;
}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer-link {
    font-size: 1rem;
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-link:hover {
    color: #000;
}

.footer-logo {
    width: 30px;
    height: 30px;
    border-radius: 50%; /* Hace que la imagen sea circular */
    object-fit: cover; /* Asegura que la imagen se ajuste correctamente al contenedor circular */
}


@media (max-width: 768px) {
    .footer-links {
        flex-direction: column;
    }

    .footer-logo {
        margin: 10px 0;
    }
}


/* Estilos para el botón de votar */
.btn-votar {
    background-color: #333; /* Color de fondo oscuro */
    color: white; /* Color de texto blanco */
    border: none;
    border-radius: 50px; /* Bordes redondeados */
    padding: 12px 30px;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-votar:hover {
    background-color: #555; /* Color más claro al pasar el ratón */
}
